/* HEADER */
header {
  background-color: blue;
}

.menu {
  background-color: rgb(137, 137, 221);
  height: 60px;
  border: 1px solid black;
}

/* JUMBOTRON */
.jumbotron {
  background-color: rgb(44, 42, 165);
  border-bottom: 1px solid black;
  margin-top: 60px;
}

.xl-box {
  background-color: aquamarine;
}

.f1 {
  height: 300px;
  border: 1px solid black;
  background-color: brown;
}

.int.f1.jumbo {
  width: 100%;
  height: 100%;
  background-color: rgb(238, 147, 11);
}

/* MAIN */
section {
  border: 1px solid black;
}

/* SEC 1 */
.sm.box {
  height: 250px;
  background-color: aquamarine;
  border: 1px solid black;
}

.f2 {
  border: 1px solid black;
  background-color: brown;
  height: 499px;
}
.f2.full {
  height: 200px;
}

.col {
  border: 1px solid black;
  height: 100%;
  background-color: rgb(238, 147, 11);
}

.buttom {
  background-color: brown;
  height: 160px;
}

.int.buttom {
  width: 100%;
  height: 100%;
  background-color: rgb(238, 147, 11);

}

/* SEC 2 */
.f3 {
  border: 1px solid black;
  height: 557px;
  background-color: brown;
}

.int.f3 {
  background-color: rgb(238, 147, 11);
  height: 100%;
}

/* SEC 3 */
.f4 {
  border: 1px solid black;
  height: 500px;
  background-color: brown;
}

.int.img {
  background-color: rgb(238, 147, 11);
  height: 180px;
  border: 1px solid black;

}

.int.text {
  background-color: rgb(238, 147, 11);
  height: 280px;
  border: 1px solid black;
}

/* SEC 4 */

/* FOOTER */
.xl-box.clearfix.full-width.feet {
  height: 300px;
  border: 0 1px solid white ;
}