/* GENERICHE */
.float {
  height: 300px;
}

.col {
  border: 1px solid black;
  height: 100%;
}

/* MAIN */
/* SECTIONS */

.float.text {
  height: 100px;
}

.float.section-1.large {
  height: 150px;
}

.float.footer {
  border: 1px solid black;
  background-color: brown;
  height: 499px;
}

.float.section-3 {
  border: 1px solid black;
  background-color: brown;
}

.float.section-3.large {
  height: 100px;
}

/* FOOTER */
.large.container.clearfix.full-width.feet {
  border: 0 1px solid white ;
}