/* GENERICHE */
.float {
}

.col {
  border: 1px solid black;
  
}

/* MAIN */
/* SECTIONS */

.float.text {
  height: 100px;
}

.float.footer {
  border: 1px solid black;
  background-color: brown;
  height: 499px;
}

.float.section-3 {
  border: 1px solid black;
  background-color: brown;
}

.float.section-3.large {
  height: 100px;
}

/* FOOTER */
.large.container.clearfix.full-width.feet {
  border: 0 1px solid white ;
}

.float.section-3 .col .container.img {
  border-bottom: 1px solid black;
}