* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

header, .jumbotron, main, footer {
  width: 100%;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.menu {
  float: left;
  width: 50%;
}

/* JUMBOTRON */
.jumbtron {
  margin-top: 60px;
}

.xl-box {
  width: 80%;
  margin: auto;
  padding: 100px 0;
  text-align: left;
}

h1, h2 {
  margin-bottom: 20px;
}

.f1 {
  float: left;
}

.f1.left {
  width: calc(40%);
}

.f1.right {
  width: calc(60%);
}

/* MAIN */
section {
  width: 100%;
}

.sm.box {
  width: 60%;
  margin: auto;
  text-align: left;
  padding: 20px 0;
}

label {
  margin-right: 10px;
}

.radio-btn {
  display: inline-block;
}

.f2 {
  float: left;
  width: calc(100%/3);
  padding: 15px;
}

.col {
  width: 100%;
}

