* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

header, .jumbotron, main, section, footer {
  width: 100%;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.menu {
  float: left;
  width: 50%;
  background-color: white;
}

#log {
  display: inline-block;
  vertical-align: middle;
}

.menu ul, .menu ul li {
  display: inline-block;
  list-style: none;
}

.menu:nth-of-type(2) {
  text-align: right;
}

a {
  text-decoration: none;
}

.btn {
  text-align: center;
}

/* JUMBOTRON */
.jumbotron {
  margin-top: 77px;
}

.jumbotron .col {
  height: 400px;
}

.large.container {
  width: 80%;
  margin: auto;
  padding: 40px 0;
  text-align: left;
}

h1, h2 {
  margin-bottom: 20px;
}

.float {
  float: left;
  padding: 15px;
}

.float.jumbo.left {
  width: calc(40%);
  padding: 0;
}

.float.jumbo.right {
  width: calc(60%);
  padding: 0 15px;
}

/* MAIN */
.small.container.clearfix {
  width: 60%;
  margin: auto;
  text-align: left;
  padding: 250px 0 0;
}

/* SEC 1 */
.float.text {
  width: 100%;
  padding: 15px;
}

.float.section-1 {
  width: calc(100%/3);
}

.float.section-1.large {
  width: 100%;
  padding: 15px;
}

label {
  margin-right: 10px;
}

.radio-btn {
  display: inline-block;
}

/* SECTION 2 */
.float.left.section-2 {
  width: 60%;
}

.float.right.section-2 {
  width: 40%;
}

/* SECTION 3 */
.float.section-3 {
  float: left;
  width: calc(100%/3);
  padding: 15px;
}

.float.section-3.large {
  width: 100%;
  height: 100px;
}

/* SECTION 4 : sezione sponsor */
.large.container.clearfix.full-width {
  width: 100%;
  padding: 80px 0 ;
}

.float.sponsor.clearfix .col.center {
  width: 100%;
  height: 100%;
}

.box-quadrato-sponsor {
  float:left;
  width:15vw;
  height:15vw;
}

.central-sponsor-block {
  width: calc(100% - 60vw);
  height: 30vw;
}

.lateral-sponsor-block {
  width:30vw;
  padding:0px;
}

  /* CALL TO ACTION */

.float.sponsor.clearfix:nth-child(4) {
  width: 100%;
  padding: 5% 20%;
}

.float.sponsor.clearfix .col.call {
  width: 100%;
  height: 100%;
}

  /* FAQ */
  .float.sponsor.clearfix:nth-child(5) {
    width: 100%;
    padding: 5% 20%;
  }

/* FOOTER */
footer {
  background-color: black;
}

.large.container.clearfix.full-width.feet {
  width: 80%;
}

.large.container.clearfix.full-width.feet .float.footer {
  float: left;
  width: calc(100%/5);
}

/* call to action */
col.call.clearfix {
  line-height: 40px;
}

.col.call.clearfix .left {
  float: left;
  width: 70%;
  color: #4D0020;
  font-size: 30px;
  margin: 50px 0;
}

.col.call.clearfix .right {
  float: left;
  width: 30%;
  margin: 50px 0;
}