/* Navigator --> LIST */

/* MENU */
#log {
  display: inline-block;
}

.menu {
  font-size: 15px;
  padding: 0 15px;
}

.menu ul li {
  margin-right: 30px;
  line-height: 75px;
}

.menu ul li:nth-child(1) {
  margin-left: 30px;
}

.menu ul li:nth-child(3) {
  margin-right: none;
}

.menu ul li a {
  color: black;
}

/* BTN */
.menu:nth-child(2) {
  text-align: right;
}

.btn {
  background-color: blue;
  color: white;
  width: 10px;
  padding: 10px 40px;
}

/* JUMBOTRON */
.jumbotron, .large.container, .float.jumbo.left, .float.jumbo.right, .float.jumbo.left .col, .float.jumbo.right .col {
  background-color: #A6C5E1;
}

h1 {
  font-size: 75px;
}

p {
  font-size: 18px;
  line-height: 25px;
}

