/* Navigator --> LIST */

/* MENU */
#log {
  margin-left: 20px;
}

.menu {
  font-size: 15px;
}

.menu ul li {
  margin-right: 30px;
  line-height: 75px;
}

.menu ul li:nth-child(1) {
  margin-left: 30px;
}

.menu ul li:nth-child(3) {
  margin-right: none;
}

.menu ul li a {
  color: black;
}

/* BTN */
.btn {
  background-color: blue;
  width: 10px;
  padding: 10px 40px;
}

.btn a:only-child {
  color: white;
}

.menu .btn {
  margin-right: 20px;
}