/* Navigator --> LIST */

/* MENU */
#log {
  display: inline-block;
}

.menu {
  font-size: 15px;
  padding: 0 15px;
}

.menu ul li {
  margin-right: 30px;
  line-height: 75px;
}

.menu ul li:nth-child(1) {
  margin-left: 30px;
}

.menu ul li:nth-child(3) {
  margin-right: none;
}

.menu ul li a {
  color: black;
}

/* BTN */
.menu:nth-child(2) {
  text-align: right;
}

.btn {
  background-color: blue;
  color: white;
  width: 10px;
  padding: 10px 40px;
}

/* JUMBOTRON */
.jumbotron, .large.container, .float.jumbo.left, .float.jumbo.right, .float.jumbo.left .col, .float.jumbo.right .col {
  background-color: #A6C5E1;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 18px;
  line-height: 25px;
}

.paragraph {
  margin-bottom: 40px;
}

.paragraph:nth-of-type(2) {
  margin-bottom: 0;
  margin-top: 20px;
}

.paragraph:nth-of-type(2) p {
  font-size: 16px;
}

.float.jumbo.left .col .btn {
  margin-bottom: 20px;
}

.float.jumbo.right .col img {
  width: 100%;
}

h1, .jumbotron .large.container.clearfix .float.left .col, .jumbotron .large.container.clearfix .float.right .col {
  position: relative;
  bottom: -100px;
}

/* SECTION 1 */
.small.container.clearfix:nth-of-type(1) .float.section-1 .col, .small.container.clearfix:nth-of-type(1) .float.section-1 {
  background-color: white;
  
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col {
  border: 1px solid lightgray;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.options {
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 40px;
}

span{
  display: block;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(1) {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(2) {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(3) {
  color: gray;
  font-size: 15px;
  margin-bottom: 15px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(4) {
  margin-bottom: 40px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target .btn {
  display: inline-block;
  width: 100%;
  padding: 8px 27px;
  margin-bottom: 20px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(5) {
  margin-bottom: 20px;
}


.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(5) a {
  text-decoration: underline;
  color: blue;
}

.row {
  display: inline-block;
  color: lightgray;
  width: 50px;
  height: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(6) {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    margin-bottom: 30px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target ul li {
  list-style: none;
  margin-bottom: 40px;
}







