/* Navigator --> LIST */

/* MENU */
#log {
  display: inline-block;
}

.menu {
  font-size: 15px;
  padding: 0 15px;
}

.menu ul li {
  margin-right: 30px;
  line-height: 75px;
}

.menu ul li:nth-child(1) {
  margin-left: 30px;
}

.menu ul li:nth-child(3) {
  margin-right: none;
}

.menu ul li a {
  color: black;
}

/* BTN */
.menu:nth-child(2) {
  text-align: right;
}

.btn {
  background-color: blue;
  color: white;
  width: 10px;
  padding: 10px 40px;
}

/* JUMBOTRON */
.jumbotron, .float.jumbo.left, .float.jumbo.right, .float.jumbo.left, .float.jumbo.right, 
.float.sponsor.clearfix:nth-child(4) {
  background-color: #A6C5E1;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 35px;
}

p, li {
  font-size: 16px;
  line-height: 25px;
}

.paragraph {
  margin-bottom: 40px;
}

.paragraph:nth-of-type(2) {
  margin-bottom: 0;
  margin-top: 20px;
}

.paragraph:nth-of-type(2) p {
  font-size: 16px;
}

.float.jumbo.left .col .btn {
  margin-bottom: 20px;
}

.float.jumbo.right .col img {
  width: 100%;
}

h1, .jumbotron .large.container.clearfix .float.left .col, .jumbotron .large.container.clearfix .float.right .col {
  position: relative;
  bottom: -100px;
}

/* SECTION 1 */
.small.container.clearfix:nth-of-type(1) .float.section-1 .col, .small.container.clearfix:nth-of-type(1) .float.section-1 {
  background-color: white;
  
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col {
  border: 1px solid lightgray;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.options {
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 40px;
}

span{
  display: block;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(1) {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(2) {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(3) {
  color: gray;
  font-size: 15px;
  margin-bottom: 15px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(4) {
  margin-bottom: 40px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target .btn {
  display: inline-block;
  width: 100%;
  padding: 8px 27px;
  margin-bottom: 20px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(5) {
  margin-bottom: 20px;
}


.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(5) a {
  text-decoration: underline;
  color: blue;
}

.row {
  display: inline-block;
  color: lightgray;
  width: 50px;
  height: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target span:nth-of-type(6) {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    margin-bottom: 30px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target ul li {
  list-style: none;
  margin-bottom: 40px;
}

.small.container.clearfix:nth-of-type(1) .float.section-1 .col .target ul li:last-child {
  margin-bottom: 150px;
}

.float.left.section-2 .col img {
  width: 100%;
}

.float.right.section-2 .col {
  padding: 20px;
}

.float.right.section-2 .col span {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

.float.right.section-2 .col .btn {
  background-color: white;
  color: black;
  border: 1px solid black;
}


/* SEC 3 */
section:nth-of-type(1) .small.container.clearfix {
  padding-top: 200px;
}

section:nth-of-type(3) .small.container.clearfix {
  padding-top: 70px;
  padding-bottom: 20px;
}

.float.section-3 .col .container.img {
  width: 100%;
}

.float.section-3 .col .container.img img {
  width: 100%;
}

.float.section-3 .col .text span:first-child {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.float.section-3 .col .text span.text {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 100px;
}

.float.section-3.large h2 {
  margin-bottom: 30px;
}

.float.section-3.large a {
    color: blue;
    text-decoration: underline;
    margin-bottom: 50px;
}

.float.sponsor .col img {
    width: 100%;
}

  /* SPONSOR COLOR */

  .float.sponsor.clearfix .col img {
    display: inline-block;
    vertical-align: middle;
  }

  .float.sponsor.clearfix .col.designit {
    background-color: #92CC89;
  }
  .float.sponsor.clearfix .col.asu {
    background-color: #4D0020;
  }
  .float.sponsor.clearfix .col.uf {
    background-color: #107FC3;
  }
  .float.sponsor.clearfix .col.topps {
    background-color: #FB0017;
  }
  .float.sponsor.clearfix .col.center {
    background-color: #F2F2F2;
  }
  .float.sponsor.clearfix .col.world {
    background-color: #C90018;
  }
  .float.sponsor.clearfix .col.hearts {
    background-color: #A6C5E1;
  }
  .float.sponsor.clearfix .col.lonely {
    background-color: #0B146E;
  }
  .float.sponsor.clearfix .col.clear {
    background-color: #FED225;
  }

  /* BTN CALL TO */

  .col.call .btn {
    position: relative;
    top: 15px;
    background-color: #FFFFFF;
    color: black;
  }

  /* FAQ */
  .col.call {
    margin-bottom: 30px;
  }

  .faq {
    position: relative;
    font-weight: bold;
    line-height: 80px;
    border-top: 1px solid lightgrey;
  }

  .faq:first-child {
    font-weight: bold;
    font-size: 45px;
    border-top: none;
    border-bottom: none;
  }

  i {
    position: absolute;
    top: 32px;
    right: 0;
  }

  /* FOOTER */

  .float.footer .col h3 {
    margin-bottom: 60px;
  }

  .float.footer h3, .float.footer ul li {
    color: white;
    margin-bottom: 10px;
    list-style: none;
  }

  .float.footer:first-child ul li:last-child {
    margin-bottom: 80px;
  }

  hr {
    width: 100px;
  }









